@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header bg-transparent border-0">
    <h3 class="text-white mb-0">Deneyim Düzenleme Sayfası</h3>
</div>

@using (Html.BeginForm("EditPortfolio", "Portfolio", FormMethod.Post))
{
    <br />
    @Html.HiddenFor(x=>x.PortfolioID)
    @Html.Label("Proje Adı")
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    <label>Görsel 1</label>
    @Html.TextBoxFor(x=>x.ImageUrl,new {@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ImageUrl)
    <br />
    <label>Görsel 2</label>
    @Html.TextBoxFor(x=>x.ImageUrl1,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ImageUrl1)
    <br />
    <label>Proje Url</label>
    @Html.TextAreaFor(x=>x.ProjectUrl,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.ProjectUrl)
    <br />
    <label>Url1</label>
    @Html.TextAreaFor(x=>x.Image1,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Image1)
    <br />
    <label>Url2</label>
    @Html.TextAreaFor(x=>x.Image2,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Image2)
    <br />
    <label>Url3</label>
    @Html.TextAreaFor(x=>x.Image3,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Image3)
    <br />
    <label>Url4</label>
    @Html.TextAreaFor(x=>x.Image4,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Image4)
    <br />
    <label>Platform</label>
    @Html.TextAreaFor(x=>x.Platform,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Platform)
    <br />
    <label>Price</label>
    @Html.TextAreaFor(x=>x.Price,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Price)
    <br />
    <label>Status</label>
    @Html.TextAreaFor(x=>x.Status,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Status)
    <br />
    <label>Value</label>
    @Html.TextAreaFor(x=>x.Value,new{@class="form-control"})
    @Html.ValidationMessageFor(x=>x.Value)
    <br />
    <button class="btn btn-success">Güncelle</button>
}

