@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Deneyim Düzenleme</h4>
                <form class="forms-sample">
                    @Html.HiddenFor(x=>x.ExperienceID)
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Tarih</label>
                        @Html.TextBoxFor(x=>x.Date,new{@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Görsel Url</label>
                        @Html.TextBoxFor(x=>x.ImageUrl,new{@class="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        @Html.TextAreaFor(x=>x.Description,new{@class="form-control"})
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}

