@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "EditExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header bg-transparent border-0">
    <h3 class="text-white mb-0">Deneyim Düzenleme Sayfası</h3>
</div>

@using (Html.BeginForm("EditExperience", "Experience", FormMethod.Post))
{
    <br />
    @Html.HiddenFor(x=>x.ExperienceID)
    <br />
    @Html.Label("Deneyim Başlığı")
    @Html.TextBoxFor(x=>x.Name,new {@class="form-control"})
    <br />
    <label>Değer</label>
    @Html.TextBoxFor(x=>x.Date,new {@class="form-control"})
    <br />
    <label>Resim Yolu</label>
    @Html.TextBoxFor(x=>x.ImageUrl,new {@class="form-control"})
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x=>x.Description,new{@class="form-control"})
    <br />
    <button class="btn btn-success">Güncelle</button>
}

